/* body */

body{
    color: #666666;
    margin: 0;
    text-align: center;
}

h2{
    color: #333333;
    margin: 0;
}

.gray-line{
    margin-bottom: 50px;
    height: 5px;
    width: 100px;
    border: none;
    background-color: #606060;
}

.white-line{
    margin-bottom: 50px;
    height: 5px;
    width: 100px;
    border: none;
    background-color: #DDDDDD;
}

/* header */
 
header{
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    width: 100%;
    background-color: #33333399;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
}

header ul{
    margin: 0px;
}

header ul li {
    display: inline-block;
    padding: 0 20px;
}

header ul li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

header ul li a:hover{
    opacity: 0.8;
}

header img {
    height: 30px;
}

/* top */

#top{
    position: relative;
    height: 800px;
}

#top h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom :0;
    transform: translateY(-15%);
    margin:  auto;
    font-size: 70px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.background {
    z-index: 0;
    background-size: cover;
    background-color: #606060;
}

/* about */

#about{
    background-color: #F6F6F6;
    padding: 100px;
}

#about img{
    width: 200px;
    height: 200px;
    object-fit:cover;
	border-radius:50%;
    /* object-position:0px 0px; */
}

#about table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* skills */

#skills{
    background-color: #606060;
    padding: 100px;
}

#skills h2{
    color: #FFFFFF;
    margin: 0;
}

.box{
    background: #FFFFFF;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 15%;
    min-width: 170px;
}

.box img{
    display: block;
    margin: 20px auto;
    width: 50%;
}

/* works */

#works{
    background-color: #F6F6F6;
    padding: 100px;
}

.card {
    position: relative; /* div全体をリンクにするため */
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    width: 25%;
    min-width: 300px;
}

.card-line{
    margin: 10px auto;
    height: 2px;
    width: 80%;
    border: none;
    background-color: #1e56a0;
}

.card-category{
    margin: 1px auto;
}

.abstract{
    width: 80%;
    margin: 0px auto;
    font-size: 14px;
}

.date{
    font-size: 12px;
    color: #AAAAAA;
}

.card img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
}

.card a { /* div全体をリンクにするため */
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.card:hover{
    opacity: 0.8;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

/* footer */

footer{
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
}
